@font-face {
    font-family: "titr";
    src: url("cinema-fonts/Shabnam-Light.ttf");
}
body {
    direction: rtl;
}
.container {
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1 {
    width: 65%;
    height: 140%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container2 {
    width: 70%;

    background-color: #16a085;
}
.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.container3 img {
    border-radius: 100%;
    width: 40%;
    height: 95%;
}
.container5 {
    width: 55%;

    display: flex;

    justify-content: space-between;
    align-items: center;
    margin: 5% 0%;
}
.font {
    font-size: 180%;
    color: #16a085;
}
.text {
    width: 63%;
    text-align: justify;
    margin: auto;
    font-size: 120%;
    line-height: 180%;
    font-family: "titr";
}
.text1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 180%;
}

@media (width<=1000px) {
    .container1 {
        width: 75%;
    }
    .text {
        width: 65%;
    }
}
@media (width<=800px) {
    .container1 {
        width: 95%;
    }
    .text {
        width: 65%;
    }
}

@media (width<=500px) {
    .container1 {
        width: 100%;
    }
    .container2 {
        width: 80%;
    }
    .text {
        width: 80%;
    }
    .container5 {
        margin: 10% 0%;
    }
}
@media (width<=390px) {
    .container1 {
        width: 100%;
    }
    .container2 {
        width: 90%;
    }
    .text {
        width: 310px;
    }
}
